@model Setup_Examination_timetable.Models.Setup_exam_time

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Setup_exam_time</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Exam_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exam_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.venue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.venue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exam_Starttime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exam_Starttime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exam_Endtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exam_Endtime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exam_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exam_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Grade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Grade)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
