@model SchoolTimetable.Models.Entrance_test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entrance_test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuetionOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuetionOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerOneAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerOneAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerOneBB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerOneBB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerOneCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerOneCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.counter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.counter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
